<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="pn2sc"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="pn2sc.MainApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="pn2sc.pn2sc"
            name="pn2sc.Product">
         <property
               name="appName"
               value="pn2sc.Product">
         </property>
      </product>
   </extension>

</plugin>
