<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://pn2sctrace/1.0"
            class="pn2sctrace.Pn2sctracePackage"
            genModel="model/PN2SCTrace.genmodel"/>
   </extension>

</plugin>
