<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="pn2sc.queries.place"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.place.PlaceMatcherFactory$Provider"
            id="pn2sc.queries.place">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.transition"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.transition.TransitionMatcherFactory$Provider"
            id="pn2sc.queries.transition">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.nextState"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.nextstate.NextStateMatcherFactory$Provider"
            id="pn2sc.queries.nextState">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.equiv"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.equiv.EquivMatcherFactory$Provider"
            id="pn2sc.queries.equiv">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.equivContains"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.equivcontains.EquivContainsMatcherFactory$Provider"
            id="pn2sc.queries.equivContains">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.traceElement"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.traceelement.TraceElementMatcherFactory$Provider"
            id="pn2sc.queries.traceElement">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.andPrecond"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.andprecond.AndPrecondMatcherFactory$Provider"
            id="pn2sc.queries.andPrecond">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.andPrecond"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="pn2sc.queries.andprecond.AndPrecondEvaluator1_1"
            id="pn2sc.queries.andPrecond_1_1">
      </evaluator>
   </extension>
   <extension
         id="pn2sc.queries.andPrecond"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="pn2sc.queries.andprecond.AndPrecondEvaluator2_1"
            id="pn2sc.queries.andPrecond_2_1">
      </evaluator>
   </extension>
   <extension
         id="pn2sc.queries.nonCommonTPre"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.noncommontpre.NonCommonTPreMatcherFactory$Provider"
            id="pn2sc.queries.nonCommonTPre">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.tranWithTwoPostPlaces"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.tranwithtwopostplaces.TranWithTwoPostPlacesMatcherFactory$Provider"
            id="pn2sc.queries.tranWithTwoPostPlaces">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.nonCommonTPost"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.noncommontpost.NonCommonTPostMatcherFactory$Provider"
            id="pn2sc.queries.nonCommonTPost">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.transitionWithTwoPrePlaces"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.transitionwithtwopreplaces.TransitionWithTwoPrePlacesMatcherFactory$Provider"
            id="pn2sc.queries.transitionWithTwoPrePlaces">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.postT"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.postt.PostTMatcherFactory$Provider"
            id="pn2sc.queries.postT">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.preT"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.pret.PreTMatcherFactory$Provider"
            id="pn2sc.queries.preT">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.orPrecond"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.orprecond.OrPrecondMatcherFactory$Provider"
            id="pn2sc.queries.orPrecond">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.uniquePrePlace"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.uniquepreplace.UniquePrePlaceMatcherFactory$Provider"
            id="pn2sc.queries.uniquePrePlace">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.moreThanOnePrePlace"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.morethanonepreplace.MoreThanOnePrePlaceMatcherFactory$Provider"
            id="pn2sc.queries.moreThanOnePrePlace">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.uniquePostPlace"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.uniquepostplace.UniquePostPlaceMatcherFactory$Provider"
            id="pn2sc.queries.uniquePostPlace">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.moreThanOnePostPlace"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.morethanonepostplace.MoreThanOnePostPlaceMatcherFactory$Provider"
            id="pn2sc.queries.moreThanOnePostPlace">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.commonPreT"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.commonpret.CommonPreTMatcherFactory$Provider"
            id="pn2sc.queries.commonPreT">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.commonPostT"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.commonpostt.CommonPostTMatcherFactory$Provider"
            id="pn2sc.queries.commonPostT">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.prePostPlaces"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.prepostplaces.PrePostPlacesMatcherFactory$Provider"
            id="pn2sc.queries.prePostPlaces">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.topOr"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.topor.TopOrMatcherFactory$Provider"
            id="pn2sc.queries.topOr">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.singleRootOr"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.singlerootor.SingleRootOrMatcherFactory$Provider"
            id="pn2sc.queries.singleRootOr">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.rootOr"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.rootor.RootOrMatcherFactory$Provider"
            id="pn2sc.queries.rootOr">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.emptyOr"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.emptyor.EmptyOrMatcherFactory$Provider"
            id="pn2sc.queries.emptyOr">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.hasRcontains"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.hasrcontains.HasRcontainsMatcherFactory$Provider"
            id="pn2sc.queries.hasRcontains">
      </matcher>
   </extension>
   <extension
         id="pn2sc.queries.hasContains"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="pn2sc.queries.hascontains.HasContainsMatcherFactory$Provider"
            id="pn2sc.queries.hasContains">
      </matcher>
   </extension>

</plugin>
